
html{
    background-color: #ffffff;
}

body{
    background-color: #fff;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    /* width: 95em; */
    width: 77%; 
    /* width: calc(90% + 100px); */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

/* botoa */
.button-m{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #f34949;
    color: white;
    font-size: 1em;
    font-weight: 100;
    border: 0;
    transition: background-color .2s ease-out, box-shadow .2s ease-out;
}

.button-m:hover{
    background-color: #cc3c3c;
    box-shadow: 0 0 5vh rgb(255, 196, 196);
}
/*  */
/* Logo */
.__logo{
    width: 110px;
}
/*  */

/* Texto */
h1{
    font-weight: 900;
    font-size: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h3{
    font-size: 15px;
    font-weight: 100;
    color: #f34949;
}

p{
    font-weight: 100;
    font-size: 17px;
    color:#4e4e4e
}
/*  */


/* ----COMEÇO DA PAGINA 'HEADER'---- */
/* -----header dp prejeto ------*/
header{
    display: grid;
    grid-template-columns: 1fr 0fr;
    position: fixed;
    top: 0px;
    background-color: rgb(255, 255, 255);
    width: 77%;
    padding: 20px 0px 10px 0px;
    z-index: 1000;
}
/*  */


/* Menu de ocpções */
.opc{
    background-color: rgba(255, 255, 255, 0.404);
    grid-column: 1/3;
    height: 0;
    display: none;
    cursor: pointer;
    transition: ease-in-out;
}

.opc--botton{
    background: url(../img/menu-iconP.png) no-repeat;
    width: 16px;
    height: 16px;
    padding: 10px;
    cursor: pointer;
}

#bottom-special::after{
    content: "";
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid currentColor;
    left: 110px;
    bottom: 14px;
}

.opc__ul{
    position: sticky;
    list-style: none;
    padding: 12px;
}

.opc__ul li{
    list-style: none;
    position: relative;
    margin: 20px 20px 20px 0px;
    font-weight: 100;
}

.opc__ul li a{
    color: #333;
    text-decoration: none;
    display: block;
}

.opc li a:hover{
    color: #f34949;
}

.opc li ul{
    position: absolute;
    left:0;
    border-bottom: 2px solid#f34949; 
    width: 100%;
    display: none;
    
}

.opc li ul li{
    display:block;
    animation-fill-mode:none;
}
 
/* Animação do menu Aparecer e Sumir */
@keyframes menApa{
    from{heigth: 0px;}
    to{height: 309px;}
}

@keyframes menSumir{
    from{height: 309px}
    to{height: 0px;}
}

.opc__ul li{
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0s ease-in-out transform 0.5s ease-in-out;
}

.opc__ul li.aniApa{
    opacity: 1;
    transform: translateY(0);
}

.opc__ul li.aniSum{
    opacity: 0;
    transform: translateY(0px);
}
/*  */
/*  */
/* ----FIM DO 'HEADER'---- */

/* -----Começo Section----- */

.csection{
    margin-top: 150px;
}

/* INFORMAÇÕE DE TRABALHO */
/* Configuração de todos */
.cTema{
    display: block;
}

.cTema h1{
    font-size: 54px;
    font-weight: 100;
}
/* info-prods e toda a div */
.info-prods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 25em;
    margin-bottom: 30px;
}

.info{
    padding: 10px;
    max-width: 100px;
    max-height: 80px;
}

.info__item{
    width: 40px;
    height: 40px;
    margin: auto;
    margin-bottom: 7px;
}

.info__item img{
    width: 100%;
    height: 100%;
}

.info h2{
    text-align: center;
    position: relative;
    margin: auto;
    font-weight:500;
    font-size: 17px;
}
/*  */

/* Configuração individual */
.info-prods__1{}

.info-prods__2{
    border-left: 1px solid rgb(232, 236, 240);
    border-right: 1px solid rgb(232, 236, 240);
}

.info-prods__3{}

/* CONFIGURAÇÃO TOTAL demos*/

.demos{
    display: block;
    /* background-color: #f34949; */
}


/* IMAGENS REPRESENTAVIVASA */
.demos__imgs{
    overflow: hidden;
    position: relative;
    max-width: 70vh;
    max-height: 70vh;
    margin-bottom: 8vh;
}

.demos__imgs img{
    height: 100%; 
    width: 100%;  
}

.demos__img-div{
    margin: 10px;
}
/*  */

/* Apresentação */
.demos__apresen{
    display: flex;
}


.demos__img-2{
/*     object-fit: cover;
    object-position: center; */
    overflow: hidden;
    position: relative;
    width: 69vh;
    height: 80vh;
    margin-right: 10px;
    max-width: 100vh;
    box-shadow: 1vh 1vh 1vh rgb(209, 209, 209);
}

.demos__img-2 img{
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.demos__apresen-titulo{
    padding: 0;
    margin-bottom: 150px;
}

.demos__apresen-text{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 24em;
    margin-left: 20px;
}
    
.demos__apresen-text h1{
    font-weight: 900;
    font-size: 30px;
    margin: 0;
}

.demos__apresen-text h3{
    margin-bottom: 0;
}
/*  */

/*  */

/* SPECIALITIES */
.special{
    display: flex;
    flex-direction: column;
    /* align-items: first baseline */;
    background-color: rgb(247, 248, 249);

    margin-top: 40px;
}
.special__title{
    text-align: center;
    margin: auto;
}
.special__div{
    display: flex;
    margin: auto;
 /*    background-color: rgb(255, 206, 206); */
}

.special__div--moblie{  /* FAZER ALTERAÇÃO MOBLIE */
    display: block;
    margin: auto;
}

.special__img{
    width: 35vh;
    height: 45vh;
    min-width: 35vh;
    min-height: 45vh;
    box-shadow: 1vh 1vh 1vh #cccccc;
    margin: 2vh;
}

.special__img img{
    width: 100%;
    height: 100%;
}

.special__text{
    border-top: 1px solid #000000;
    max-width: 30vh;    
    margin: 10px;
}

.special__div h1{
    font-size: 3em;
    margin-top: 0;
}

.special__text h2{
    font-weight: 600;
}

.special__text h3{
    font-size: 1.6em;
}

.scale-1{
    transform: scale(-1, 1);
}
/* ------Fim Section------ */

/* CONFIGURAÇÕES MENU */

.menu{
    margin-top: 100px;
    text-align: center;
    color: rgb(49, 49, 49);
}

.menu__list{
    list-style: none;
}

.menu__list li{
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-bottom: 30px;
    border-bottom: 1px rgb(148, 148, 148) dashed;
}

.menu__list span{
    width: 100%;
    height: 90px;
}

.menu__list h1{
    font-weight: 100;
    font-size: 23px;
    height: 40px;
    margin: 0;
    text-align: end;
}

.menu__list h2{
    font-size: 15px;
    font-weight: 100;
    height: 20px;
    margin: 0;
}

.menu__list__food{
    display: flex;
}

.menu__list__food div{
    margin-top: 14px;
    margin-left: 15px;
    text-align: center;
    height: 100%;
}

.menu__list-img{
    position: relative;
    overflow: hidden;
    width: 90px;
    border-radius: 50%;
}

.menu__list-img img{
    background-color: aqua;
    position: absolute;
    width: 90px;
    height: 90px;
    transition: width .4s ease-in-out, height .4s ease-in-out;
    transform: translate(-50%,0%);
}

.menu__list-img:hover img{
    width: 100px;
    height: 100px;
    transform: translate(-50%,0%);
}

.menu__div{
    margin-top: 80px;
}

.menu__div h2{
    font-weight: 100;
}   

/*  */


/* 
    ------TESMIMONY------ 
*/

/* .tesmimony{
    background-color: #cc3c3c56;
    background-image: url("../img/testi-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.tesmimony__img{
    width: 100%;
    height: 100%;
}

.tesmimony__img img{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.tesmimony__div{
    display: flex;
    width: 50%;
    height: 50%;
    overflow: scroll;
    margin: auto;
}

.tesmimony__text{
    width: 200px;
    height: 200px;
    margin-left: 90px;
}

.tesmimony__text p{
    color: white;
} */

/*  */

/* ------SPECILITIES------ */
.specialities{
    /* display: flexbox; */
    margin: 0;
    margin-top: 100px;
    padding: 0;
    height: 53vw;
}

.specialities__title{
    margin-left: auto;
    text-align: center;
}

.specialities__div{
    display: flex;
}

.specialities__contein{
    padding: 5px;
    margin: auto;
    height: 38vw;
}
.specialities__contein img{
    width: 100%;
}

.specilities__info{
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
   width: 67%;
    bottom: 100px;
    /* left: 13%; */
    padding: 13px;
    margin-left: auto;
    margin-right: auto;
    transition: bottom .5s ease;
}


.specialities__contact{
    display: none;
    opacity: 0;
}

.specialities__contact ul{
    padding: 0;
    list-style: none;
    width: 100%;
    height: 40px;
    margin-top: 0;
    display: flex;
}

.specialities__contact li{
    margin: auto;
}

.specilities__info h1{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

.specilities__info h2{
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}

/*  0% =  84 */
@keyframes infor{
    from{height: 60px}
    to{height: 90px}
}
@keyframes infor-s{
    from{height: 90px}
    to{height: 60px}
}

@keyframes opaci{
    from{opacity: 0}
    to{opacity: 1;}
}

@keyframes opaci-s{
    from{opacity: 1;}
    to{opacity: 0;}
}

.--info-1:hover, .--info-2:hover, .--info-3:hover{
    bottom: 130px;
    animation-name: infor;
    animation-duration: .5s;
    animation-fill-mode:forwards;
}

.--info-1:not(:hover), .--info-2:not(:hover), .--info-3:not(:hover){
    animation-name: infor-s;
    animation-duration: .5s;
    animation-fill-mode:forwards;
}

.--info-1:hover .specialities__contact, .--info-2:hover .specialities__contact,.--info-3:hover .specialities__contact{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation-name: opaci;
    animation-duration: .5s;
    animation-fill-mode:forwards;
}

.--info-1:not(:hover) .specialities__contact{ 
    animation-name: opaci-s;
    animation-duration: 5s;
    animation-fill-mode:forwards;
}

.icon:hover{
    cursor: pointer;
    background-color: #0000000e;
}
/* ICONES */

/* Facebook */
.face-icon{
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}
.face-icon::after,
.face-icon::before{
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box
}

.face-icon::before{
    width: 8px;
    height: 20px;
    border-left: 4px solid;
    border-top: 4px solid;
    border-top-left-radius: 5px;
    border-color: #f34949;
    left: 6px
}

.face-icon::after{
    width: 10px;
    height: 4px;
    background: #f34949;
    top: 7px;
    left: 4px;
    transform: skew(-5deg)
}

/* twite */
.twit-icon{
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}

.twit-icon::after,
.twit-icon::before{
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 4px
}

.twit-icon::before{
    width: 9px;
    height: 14px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-bottom-left-radius: 6px;
    border-color: #f34949;
    background:
        linear-gradient(
            to left, #f34949 12px,transparent 0)
            no-repeat center 2px/10px 4px;
    top: 4px
}

.twit-icon::after{
    width: 4px;
    height: 4px;
    background: #f34949;
    border-radius: 20px;
    top: 2px;
    box-shadow: 7px 4px 0 #f34949,7px 12px 0 #f34949
}
/*  */
/*  */
/* intagram */
.isnta-icon{
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px #f34949;
    border-radius: 4px;
    width: 20px;
    height: 20px
}

.isnta-icon::after,
.isnta-icon::before{
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.isnta-icon:before{
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: #f34949;
    right: 1px;
    top: 1px
}

.isnta-icon:after{
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border-color: #f34949;
    top: 3px
}
/*  */
/*  */

