
html{
    background-color: #ffffff;
}

body{
    background-color: #fff;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    /* width: 95em; */
    width: 77%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}


/* Logo */
.__logo{
    width: 110px;
}
/*  */

/* Texto */
h1{
    font-weight: 900;
    font-size: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h3{
    font-size: 15px;
    font-weight: 100;
    color: #f34949;
}

p{
    font-weight: 100;
    font-size: 17px;
    color:#4e4e4e
}
/*  */


/* ----COMEÇO DA PAGINA 'HEADER'---- */
/* -----header dp prejeto ------*/
header{
    display: grid;
    grid-template-columns: 1fr 0fr;
    position: fixed;
    top: 0px;
    background-color: rgb(255, 255, 255);
    width: 77%;
    padding: 20px 0px 10px 0px;
    z-index: 1000;
}
/*  */


/* Menu de ocpções */
.opc{
    background-color: rgba(255, 255, 255, 0.404);
    grid-column: 1/3;
    height: 0;
    display: none;
    cursor: pointer;
    transition: ease-in-out;
}

.opc--botton{
    background: url(../img/menu-iconP.png) no-repeat;
    width: 16px;
    height: 16px;
    padding: 10px;
    cursor: pointer;
}

#bottom-special::after{
    content: "";
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid currentColor;
    left: 110px;
    bottom: 14px;
}

.opc__ul{
    position: sticky;
    list-style: none;
    padding: 12px;
}

.opc__ul li{
    list-style: none;
    position: relative;
    margin: 20px 20px 20px 0px;
    font-weight: 100;
}

.opc__ul li a{
    color: #333;
    text-decoration: none;
    display: block;
}

.opc li a:hover{
    color: #f34949;
}

.opc li ul{
    position: absolute;
    left:0;
    border-bottom: 2px solid#f34949; 
    width: 100%;
    display: none;
    
}

.opc li ul li{
    display:block;
    animation-fill-mode:none;
}
 
/* Animação do menu Aparecer e Sumir */
@keyframes menApa{
    from{heigth: 0px;}
    to{height: 309px;}
}

@keyframes menSumir{
    from{height: 309px}
    to{height: 0px;}
}

.opc__ul li{
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0s ease-in-out transform 0.5s ease-in-out;
}

.opc__ul li.aniApa{
    opacity: 1;
    transform: translateY(0);
}

.opc__ul li.aniSum{
    opacity: 0;
    transform: translateY(0px);
}
/*  */
/*  */
/* ----FIM DO 'HEADER'---- */

/* -----Começo Section----- */

.csection{
    margin-top: 150px;
}

/* INFORMAÇÕE DE TRABALHO */
/* Configuração de todos */
.cTema{
    display: block;
}

.cTema h1{
    font-size: 54px;
    font-weight: 100;
}
/* info-prods e toda a div */
.info-prods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 25em;
    margin-bottom: 30px;
}

.info{
    padding: 10px;
    max-width: 100px;
    max-height: 80px;
}

.info__item{
    width: 40px;
    height: 40px;
    margin: auto;
    margin-bottom: 7px;
}

.info__item img{
    width: 100%;
    height: 100%;
}

.info h2{
    text-align: center;
    position: relative;
    margin: auto;
    font-weight:500;
    font-size: 17px;
}
/*  */

/* Configuração individual */
.info-prods__1{}

.info-prods__2{
    border-left: 1px solid rgb(232, 236, 240);
    border-right: 1px solid rgb(232, 236, 240);
}

.info-prods__e{}

/* CONFIGURAÇÃO TOTAL demos*/

.demos{
    display: block;
}

.demos__img-1{
    position: relative;
    max-width: 70vh;
    max-height: 70vh;
    margin-bottom: 8vh;
}

.demos__img-1 img{
    height: 100%; 
    width: 100%;  
}

/* Apresentação */
.demos__apresen{
    display: flex;
    background-color: rgba(0, 255, 255, 0.123);
}


.demos__img-2{
/*     object-fit: cover;
    object-position: center; */
    overflow: hidden;
    position: relative;
    width: 69vh;
    height: 80vh;
    margin-right: 10px;
    max-width: 100vh;
}

.demos__img-2 img{
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 1vh 1vh 1vh rgb(202, 202, 202);
}


.demos__apresen-titulo{
    padding: 0;
    margin-bottom: 50px;
}

.demos__apresen-text{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 24em;
    margin-left: 20px;
    background-color: #f3494933;
}

.demos__apresen-text h1{
    font-weight: 900;
    font-size: 30px;
}
/*  */

/*  */

/* ------Fim Section------ */

